.about{
	&__inner{
		padding-top: 60px;
	}
	&__subtitle{
		max-width: 830px;
	}
	&__navigator{
		display: flex;
		.home{
			margin-top: -5px;
		}
		.about{
			color: #828299;
		}
		padding-bottom: 20px;
	}
	&__content{
		padding-top: 60px;
		padding-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		img{
			width: 50%;
			max-width: 710px;
		}
	}
	&__content-text{
		max-width: 590px;
		padding-top: 30px;
		.title{
			padding-bottom: 10px;
		}
	}
}
@media(min-width: 1220px){
	.about{
		&__content-text{
			padding-left: 30px;
		}
	}
}
@media(min-width: 1220px){
	.about{
		&__title{
			.title{
				font-size: 50px;
			}
		}
		&__subtitle{
			padding-top: 20px;
		}
		&__content{
			padding-top: 120px;
			padding-bottom: 120px;
		}
		&__content-text{
			padding-left: 120px;
			.title{
				font-size: 40px;
				padding-bottom: 20px;
			}
			.text{
				line-height: 22px;
				font-size: 16px;
			}
		}
	}
}