@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-RegularItalic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}


body{
	font-family: 2;
	font-family: "Gilroy";
	font-style: normal;
}