.services{
	&__inner{
		padding-top: 62px;
	}
	&__navigator{
	display: flex;
		.navigator__home{
			margin-top: -5px;
		}
		.navigator__services{
			color: #828299;
		}
	}
	&__title{
		margin-top: 20px;
	}
	&__subtitle{
		margin-bottom: 60px;
	}

	.link{
		color: #FF2E51;
		position: relative;
		font-weight: 600;
	}
	.link::after,.link::before{
		content: "";
		background-color: #FF2E51;
		height: 1px;
		width: 6px;
		position: absolute;
		top: 8px;
	}
	.link::after{
		top: 12px;
		right: -10px;
		transform: rotate(-45deg);
	}
	.link::before{
		right: -10px;
		transform: rotate(-145deg);
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
	}
	.images{
		width: 100%;
		max-width: 710px;
	}
	&__item{
		width: 100%;
		margin-bottom: 60px;
		.title{
			margin-top: 20px;
			max-width: 590px;
		}
		.text{
			margin-top: 20px;
			margin-bottom: 20px;
			max-width: 590px;
		}
	}
}
@media(min-width: 1200px) {
	.services{
		&__item{
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.content{
			padding-left: 20px;
			padding-right: 20px;
		}

	}
}
@media(min-width: 1400px) {
	.services{
		.content{
			padding: 0;
		}

	}
}